.table .row{
    border-bottom:1px solid gray;
   
    
}

.table {
    padding-left:50px;
}
.field{
    padding:3px;
    width:120px;
    display:inline-block;
    word-wrap:break-word;
    vertical-align:top;
    border-left:1px solid lightgrey;
    height:35px;
}

.field_rownumber{
width:40px;
}

.field_3{
    width:250px;
}

.field_6{
    width:110px;
}

.row_0{
     border-top:1px solid gray;
    font-weight: bold;
}

.validation_error{
    background-color: tomato;
}

.validation_success{
    background-color:#dcf5dc;
}

.template_dropdown{
    margin-bottom: 5px;
}

.fileupload_container{
     border: 1px solid lightgray;
    border-radius: 3px;
    padding: 5px;
    height: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.form_container{

}

#selectedtemplate{
    line-height: 34px;
}